<head>
    <link rel="stylesheet" href="/stylesheets/Signup.css" />
    <link rel="stylesheet" href="/stylesheets/datasetList.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
</head>

<body>
    <div style="background: #FFF;" class="left">
        <%- include navbar.ejs %>
            <div class="row">
                <div class="column">
                    <div class="card">
                        <p> Success! Your contribution is now submitted If you're from prolific academic, please click this <a href=: "<%=prolificLink%>">link</a>. If you're from Amazon Mturk, please finish your survey with this code
                            <%= amazonLink %>. </p>
                    </div>
                </div>
            </div>
    </div>
</body>