<head>
    <link rel="stylesheet" href="/stylesheets/Signup.css" />
    <link rel="stylesheet" href="/stylesheets/datasetList.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
</head>

<body>
    <div style="background: #FFF;" class="left">
        <%- include navbar.ejs %>
        <div class="row">
                <div class="column">
                    <div class="card">
                       <p> Success! Your contribution is now submitted, please click on this link. </p>
                    </div>
                </div>
        </div>
    </div>
</body>