<ul>
  <li><a href="/main">Home</a></li>
  <li><a href="/add-database">Add Dataset</a></li>
  <li><a href="/annotator-list">Annotator List</a></li>
  <li><a href="/dataset-list">Dataset List</a></li>
</ul>
