<ul>
  <li><a href="/main">Home</a></li>
  <li><a href="/add-database">Add Database</a></li>
  <li><a href="/annotator-list">Annotator List</a></li>
  <li><a href="/dataset-list">Database List</a></li>
</ul>
