<ul>
  <li><a href="/main">Home</a></li>
  <li><a href="/addDatabase">Add Dataset</a></li>
  <li><a href="/addSurvey">Add Survey</a></li>
  <li><a href="/annotatorList">Annotator List</a></li>
  <li><a href="/datasetList">Dataset List</a></li>
</ul>
