<head>
    <link rel="stylesheet" href="stylesheets/Signup.css" />
</head>

<body>
    <div id="login-box">
        <div class="left">
            <h1>Sign up</h1>
            <form method="post">
                <input type="text" name="username" placeholder="Username" />
                <input type="text" name="email" placeholder="E-mail" />
                <input type="text" name="adminCode" placeholder="Researcher's code" />
                <input type="password" name="password" placeholder="Password" />
                <input type="password" name="password2" placeholder="Retype password" />
                <input type="submit" name="signupSubmit" value="Sign up" />
            </form>
        </div>
    </div>
</body>