<head>
    <link rel="stylesheet" href="/stylesheets/Signup.css" />
    <link rel="stylesheet" href="/stylesheets/datasetList.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
</head>

<body>
    <div style="background: #FFF;" class="left">
        <%- include navbar.ejs %>
        <div class="row">
                <div class="column">
                    <div class="card">
                       <p> Success! Your survey is now under the link <b><%= surveyLink %></b>,
            you can share it on Amazon Mturk, Prolific Academic or anywhere you like. </p>
                    </div>
                </div>
        </div>
    </div>
</body>